//fonts
$primary-font: "Rubik", sans-serif;
$secondary-font: "Lora", serif;

$small-screen-breakpoint: 767px;
$min-screen-width: 375px;

$spacing--xx-small: 0.25rem;
$spacing--x-small: 0.5rem;
$spacing--small: 1rem;
$spacing--smallish: 1.5rem;
$spacing--medium: 2rem;
$spacing--large: 3rem;
$spacing--x-large: 3.5rem;
$spacing--tap: 3.25rem;

$primary--background: #fecf50;
$primary--light: #f9fad1;
$primary--dark: #ff9b21;
$primary--foreground: #ee6802;
$primary--super-dark: #651a01;
$primary--contrasting: #aac3bd;

$background-gradient: linear-gradient(
  180deg,
  #fcd64f 0%,
  rgba(189.13, 85.23, 26.79, 0.99) 100%
);

html {
  body {
    background: $background-gradient;
    font-family: $primary-font;
  }
}
.home__container--buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
button {
  border: 2px solid transparent;
  border-radius: 0.5rem;
  width: 100px;
  height: 30px;
  background-color: #aac3bd;
  color: $primary--light;
}

.top-level {
  overflow: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__main {
  position: absolute;
  top: 0;
  padding: 8px;
}

#canvas1 {
  width: 100%;
  height: 100%;
  top: 20;
  left: 0;
  position: absolute;
  background: white;
}

.content--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title--homepage {
  color: purple;
  font-size: 3rem;
  z-index: 1;
}

.homebox {
  background-color: white;
  border-radius: 52px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;

  @media (max-width: $small-screen-breakpoint) {
    width: 304px;
  }
  @media (min-width: ($small-screen-breakpoint + 1)) {
    width: 550px;
  }
}

@keyframes shimmer {
  0% {
    color: rgba(255, 255, 255, 0.1); /* Start with nearly transparent white */
  }
  100% {
    background: linear-gradient(to right, transparent 50%);
  }
}

.shimmer {
  animation: shimmer 3s 1 linear;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Start and end with no vertical movement */
  }
  50% {
    transform: translateY(-20px); /* Bounce the text upward */
  }
}

/* Apply both animations to the h1 element */
.shimmer-bounce {
  animation: shimmer 4s alternate linear infinite,
    bounce 2s ease-in-out infinite; /* Adjust animation durations and properties as needed */
}

.logo {
  text-decoration: none;
  color: ;
}
